<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
    <div id="head" >
    <script>
        $.post('/App/views/head.php',{},function (resp) {
            document.getElementById('head').innerHTML=resp;
        })
    </script>
</div>

    <h1>Login</h1>
    <form action="/index.php?page=Login&action=loginIn" method="post" id="loginForm">
        <div class="container">
            <div class="error"><?php echo $GLOBALS["msg"]["wrongName"]?? ''?></div>
            <label ><b>Felhasználónév</b></label>
            <input type="text" placeholder="Felhasználónév " name="uname" required>
            <br/>
            <div class="error"><?php echo $GLOBALS["msg"]["wrongPsw"]?? ''?></div>
            <label ><b>Jelszó</b></label>
            <input type="password" placeholder="Jelszó" name="psw" required>
            <br/>
            <button type="submit" name="sub" >Login</button>

            <div><?php print_r($GLOBAL['msg']); ?></div>
        </div>
    </form>

    <script>

            document.forms["loginForm"]["uname"].innerHTML="szia";


    </script>

</body>
</html>