<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regist</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
    <div id="head" >
    <script>
        $.post('/App/views/head.php',{},function (resp) {
            document.getElementById('head').innerHTML=resp;
        })
    </script>
</div>

    <h1>Regisztráció</h1>
    <form action="/index.php?page=SignUp&action=insertUser" method="post" id="registForm">
        <div class="container">
            <label ><b>Felhasználónév</b></label>
            <input type="text" placeholder="KisP " name="reg_u_name" required>
            <br/>
            <label ><b>Jelszó</b></label>
            <input type="password" placeholder="******" name="reg_psw" required>
            <br/>
            <label ><b>Név</b></label>
            <input type="text" placeholder="Kiss Pista " name="reg_name" required>
            <br/>
            <label ><b>Email</b></label>
            <input type="text" placeholder="valami@example.com" name="reg_mail" required>
            <br/>
            <button type="submit" name="reg_sub">Regisztráció</button>
            <div id="er"> <?php if(isset($_POST['reg_sub'])){
              Session::init(); print_r(Session::get('error'));
              echo " csak gomb nyomas utan";
                                }
            ?> </div>

        </div>
    </form>

    <script>
        $.get('/index.php?page=SignUp&action=insertUser',{},function (resp) {
            console.log(resp);
        })
    </script>





</body>
</html>